/* Main Logo */

.mainTitleContainer
{
    position: relative;
    overflow: hidden;
    transition: opacity 3s;
}

.mainLogoContainer
{
    width: 58%;
    height: 58%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.mainLogo
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
    transition: opacity 5s;
}

.mainDrawingFace,
.mainDrawingGlobe
{
    height: 80vh;
    opacity: 0.8;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: opacity 5s;
}

.mainDrawingGlobe
{
    animation: globoLoop 10.0s infinite linear;
    z-index: 1;
}

@media (max-aspect-ratio: 1/1)
{
    .mainLogoContainer
    {
        width: 80%;
        margin: auto;
    }

    .mainDrawingFace,
    .mainDrawingGlobe
    {
        height: 52vh;
        opacity: 0.8;
    }
}

/* Body */

#bodyContainer
{
    opacity: 0;
    transition: opacity 3s;
}

/* Poem Page */

.poemContainer
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    overflow: hidden;
    position: relative;
}

#poemTitleContainer
{
    font-size: 9.0vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 1.5s;
}

#poemBodyContainer
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1.5s;
}

.poemTextContainer
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    height: 90vh;
    margin: 5vh 5vw;
    position: absolute;
    z-index: 2;
    transition: all 1.5s;
}

.poemTextContainer p 
{
    font-size: 3.4vmin;
    margin: 0vmin;
}

.poemTextContainer:hover
{
    transform: scale(1.05);
}

.poemTextImage
{
    height: 95vh;
    position: absolute;
    bottom: 0;
    opacity: 0.4;
    transition: all 2.5s;
    z-index: 1;
}

.poemFadeElement
{
    opacity: 0 !important;
}

.poemShowElement
{
    opacity: 1 !important;
}

.poemFadeInElement
{
    animation: fadeIn 1.s;
}

@media (max-aspect-ratio: 3/4)
{
    .poemTextContainer p 
    {
        font-size: 5vmin;
        margin: 0vmin;
    }
}

/* Animations */

@keyframes globoLoop
{
    0% { transform: scale(1.0); }
    25% { transform: scale(1.05); }
    75% { transform: scale(0.95); }
    100% { transform: scale(1.0); }
}

.transform-scale-low
{
    transition: transform 1.2s;
}

.transform-scale-low:hover
{
    transform: scale(1.05);
}

.transform-scale-medium
{
    transition: transform 1.5s;
}

.transform-scale-medium:hover
{
    transform: scale(1.15);
}

/* Font Style */

@font-face
{
    font-family: 'Pappafont';
    src: url('Pappafont.eot'); /* IE9 Compat Modes */
    src: url('Pappafont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('Pappafont.woff2') format('woff2'), /* Super Modern Browsers */
            url('Pappafont.woff') format('woff'), /* Pretty Modern Browsers */
            url('Pappafont.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('Pappafont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.pappafont
{
    font-family: "Pappafont", "Yomogi", serif;
    font-weight: 400;
    font-style: normal;
}