body, html {
    height: 100%
}

body {
    margin: 0px;
}

/* Container Dimensions */

.container-full-page {
    width: 100%;
    height: 100%;
}

/* Positioning */

.position-relative
{
    position: relative;
}

.position-flex {
    display: flex;
}

.position-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.position-centerY {
    display: flex;
    align-items: center;
}

.interactuable
{
    cursor: pointer;
}