/* Poem Page */

.poemContainer
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 15%);
    transition: opacity 3s;
    opacity: 0;
}

#poemTitleContainer
{
    font-size: 9.0vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 1.5s;
}

#poemBodyContainer
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1.5s;
}

.poemTextContainer
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    height: 90vh;
    margin: 5vh 5vw;
    position: absolute;
    z-index: 2;
    transition: all 1.5s;
}

.poemTextContainer p 
{
    font-size: 4.0vmin;
    margin: 0vmin;
}

.poemTextContainer:hover
{
    transform: scale(1.05);
}

.poemTextImage
{
    height: 95vh;
    position: absolute;
    bottom: 0;
    opacity: 0.4;
    transition: all 2.5s;
    z-index: 1;
}

.poemFadeInElement
{
    animation: fadeIn 1.s;
}

/* General Container */

.textContainer
{
    font-size: 4.0vmin;
}

/* Intro Container */

#PappaianniName{
    max-width: 75vmin;
}

#PappaIntroGarabato{
    left: 0%;
    max-height: 15vmin;
    transform: rotate(20deg);
}

#PappaianniSentada{
    max-height: 35vmin;
    margin-left: 25%;
}

#BichoPajaro{
    max-height: 20vmin;
}

#BichoPajaroJump{
    width: 50%;
    bottom: -30%;
}

#BichoPajaroBottom{
    max-height: 9.5vmin;
}

#BichoOveja{
    max-height: 25vmin;
}

#Hierbas{
    max-height: 6vmin;
}

#Flores {
    max-height: 40vmin;
}

#RedLines{
    max-height: 8vmin;
}

/* Projects */

#ProjectsTitle{
    max-width: 45vmin;
}

#ProjectsAngel {
    max-width: 20vmin;
}

#ProjectMarker{
    max-height: 3vmin;
}

.ProjectPhoto{
    height: 65vmin;
}

/* Kino */

#KinoTitle{
    position: absolute;
    height: 100%;
}

#KinoTitle svg{
    max-width: 20vmin;
}

#KinoBuho{
    max-height: 25vmin;
}

#KinoBuhoBackground
{
    display: flex;
    justify-content: end;
    background-image: url("../Images/KinoSeparator.png");
    background-repeat: repeat-x;
    background-position-y: 75%;
}

#KinoVideo{
    width: 68%;
    border-style: solid;
}

#KinoLeftCol{
    left: 0;
    height: 100%;
    width: auto;
}

#KinoRightCol{
    right: 0;
    height: 100%;
    width: auto;
}

#KinoBottom{
    height: 30vmin;
    background-image: url("../Images/KinoBottom.png");
    background-position: center center;
    background-repeat: repeat-x;
    background-size: contain;
}

/* Bird container */

#Bird1{
    height: 10vmin;
}

#Bird2{
    height: 30vmin;
}

#BirdPoint1 {
    height: 3vmin;
}

#BirdPoint2 {
    height: 3vmin;
}

#BirdPoint3 {
    height: 4vmin;
}

#BirdPoint4 {
    height: 6vmin;
}

#BirdBuba{
    z-index: -1;
}

.bird-poem-background{
    background-color: white;
}

.birdTextContainer
{
    font-size: 5.0vmin;
    text-align: center;
}

#BirdLandscapeSeparator
{
    bottom: -5px;
}

#FrontP2Image
{
    height: 40vmin;
}

#FrontP2Image img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.birdParagraph
{
    margin: 0.5em 0;
}

.birdContainer .birdIcon
{
    position: absolute;
    width: 10%;
    opacity: 0.7;
}

/* Animations */

.anim-fade-in-section {
    opacity: 0;
    transform: translateY(10vh);
    visibility: hidden;
    transition: opacity 2.0s ease-out, transform 2.0s ease-out;
    will-change: opacity, visibility;
}

.anim-slow-fade-in-section {
    opacity: 0;
    visibility: hidden;
    transition: opacity 4.0s ease-out;
    will-change: opacity, visibility;
}

.anim-fade-in-section-no-transform {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2.0s ease-out;
    will-change: opacity, visibility;
}

.anim-fade-in-cleo {
    opacity: 0;
    transform: translateY(50vh);
    visibility: hidden;
    transition: opacity 2.0s ease-out, transform 2.5s ease-out;
    will-change: opacity, visibility;
}

.anim-fade-in-section.in-view,
.anim-slow-fade-in-section.in-view,
.anim-fade-in-section-no-transform.in-view,
.anim-fade-in-cleo.in-view {
    opacity: 1;
    transform: none;
    visibility: visible;
}

/* smartphones, iPhone, portrait 480x320 phones */

@media (max-width:480px)  {
    .poemTextContainer p {
        font-size: 5.25vmin;
    }

    .textContainer {
        font-size: 5.25vmin;
    }

    #PappaIntroGarabato{
        max-height: 22.5vmin;
    }

    #PappaianniSentada {
        max-height: 65vmin;
        margin-left: 60%;
    }

    #BichoPajaro{
        max-height: 35vmin;
    }

    #BichoOveja {
        max-height: 45vmin;
    }

    #ProjectsTitle{
        max-width: 65vmin;
    }

    #KinoTitle svg{
        max-width: 35vmin;
        margin-bottom: 5%;
    }

    #KinoBuho{
        max-height: 35vmin;
    }

    #KinoVideo{
        width: 100%;
    }

    #KinoLeftCol, #KinoRightCol{
        display: none;
    }

    #KinoBottom{
        height: 40vmin;
        background-size: cover;
    }

    .birdTextContainer{
        font-size: 7.0vmin;
    }

    #FrontP2Image {
        height: 60vmin;
    }
}
